/* ================== Общие стили ================== */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0a0a0a;
  color: white;
}

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'Abaddon';
  src: url('../font/ofont.ru_Abaddon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ================== Навигация ================== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(39, 30, 67, 0.3); /* слегка прозрачный черный */
  backdrop-filter: blur(8px);      /* блюр как стекло */
  -webkit-backdrop-filter: blur(8px); /* для Safari */
  padding: 15px 100px;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px gray;
}

/* Центральное меню */
.menu-center {
  display: flex;
  gap: 50px;
}

.menu-center a:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px gray;
}

/* Кнопка "Вызов" */
.menu-call a {
  padding: 12px 28px;
  border: 2px solid red;
  border-radius: 8px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s ease;
  text-decoration: none;
  box-shadow: 0 0 8px rgba(255,0,0,0.6);
}

.menu-call a:hover {
  background: red;
  color: black;
  box-shadow: 0 0 20px red, 0 0 40px darkred;
}

/* Лого "Заклятие" */
nav a.active {
  color: red;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0 0 10px rgb(239, 193, 193),
               0 0 20px rgb(201, 105, 124),
               0 0 30px rgb(182, 139, 139);
  animation: glow 1.5s infinite alternate;
  font-family: 'Abaddon', Arial, sans-serif;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(228, 155, 155),
                 0 0 10px rgb(243, 218, 223),
                 0 0 15px rgb(255, 255, 255);
  }
  to {
    text-shadow: 0 0 20px rgb(46, 32, 32),
                 0 0 35px rgb(193, 75, 99),
                 0 0 50px rgb(5, 1, 1);
  }
}

/* Правое меню */
.menu-right {
  display: flex;
  gap: 50px;
}

.menu-right a:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px gray;
}


/* Контейнер фильмов */
.films {
  padding: 60px 20px;
  background: url("https://img.freepik.com/premium-photo/red-smoke-background_172251-547.jpg") center/cover no-repeat fixed;
  min-height: 100vh;
}

.films-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Карточка фильма */
.film-card {
  background: #292525;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
   
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.film-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.6);
}


.film-card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.film-card h3 {
  color: #fff;
  font-size: 20px;
  margin: 15px;
}

.film-card p {
  color: #aaa;
  font-size: 14px;
  margin: 0 15px 15px;
  flex-grow: 1;
  
}

/* Кнопка Подробнее */
.details-btn {
  margin: 0 15px 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #610303;
  color: white;
  font-weight: bold
}

.film-modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.film-modal-content {
  background: #1a1a1a;
  padding: 25px;
  border-radius: 12px;
  max-width: 800px;
  width: 90%;
  color: white;
  text-align: left;
}

.film-modal-content h2 {
  margin-bottom: 15px;
}

.film-modal-content p {
  margin: 10px 0;
  line-height: 1.5;
}

#modalTrailer {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  border-radius: 8px;
}


@keyframes zoomIn {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.film-modal-close {
  position: absolute;
  top: 20px; right: 30px;
  font-size: 40px;
  color: red;
  cursor: pointer;
  transition: 0.3s;
}

.film-modal-close:hover {
  color: white;
  text-shadow: 0 0 15px red;
}

.details-btn {
  background: #b30000;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(165, 1, 1, 0.824);
}

.details-btn:hover {
  background: #ff1a1a;
  transform: scale(1.08);
  box-shadow: 0 0 20px rgba(255, 26, 26, 0.6);
}

.details-btn:active {
  transform: scale(0.95);
  background: #970202;
}


/* ================== тап слайдер ================== */

.tab_slider {
  background: radial-gradient(circle at center, #1a1a1a 0%, #000000 100%);
  padding: 100px 0;
  position: relative;
}


.tab_slider h3 {
  text-align: center;
  font-size: 32px;
  color: var(--orange);
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.tab_contents_block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.tab_content_block {
  width: 900px;
  min-height: 500px; 
  border: 2px solid var(--orange);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(6, 5, 5, 0.493);
  box-shadow: 0 0 35px rgb(150, 149, 149);
  animation: fadeIn 0.6s ease-in-out;
}

.tab_content_block img {
  width: 100%;
  max-height: 450px; 
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(74, 74, 74, 0.7);
  transition: transform 0.4s ease;
}

.tab_content_block img:hover {
  transform: scale(1.08);
}

.tab_content_block p {
  color: white;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.tab_content_items {
  width: 280px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.tab_content_item {
  padding: 14px;
  color: white;
  background: var(--black);
  border: 1px solid var(--orange);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.tab_content_item:hover {
  background: rgba(216, 0, 0, 0.861);
  transform: scale(1.07);
}

.tab_content_item_active {
  background: var(--orange);
  color: rgb(220, 152, 5);
  font-weight: 600;
  border: 1px solid white;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}



/* ================== Мини-футер ================== */.mini-footer {
  background: #1a1a1a;      
  color: #ccc;               
  padding: 30px 20px;       
  font-size: 20px;
  border-top: 2px solid #bd0000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;           
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  height: 30px;              
  filter: brightness(0) invert(1); 
   margin-left: 30px; 
}

.footer-center {
  font-weight: bold;
  color: #740000;  
  font-family: 'Abaddon', Arial, sans-serif;      
  margin-left: 100px; 
  font-size: 30px;
}

.footer-right {
  font-style: italic;
   margin-left: 50px;
   font-family: 'Abaddon', Arial, sans-serif; 
}

